<head>
<title>Ledis</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<div class="container">

		<div class="starter-template">
			<h1>Ledis</h1>

			<form id="form">
				<div class="card">
					<div class="card-body" id="result"></div>
				</div>
				<div class="input-group">
					<input class="form-control" id="cmd" />
					<span class="pin">>Ledis:	</span>
					<div class="input-group-append">
						<button class="btn btn-secondary" type="submit" id="btn-cmd">
							Send
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>

	<script type="text/javascript" src="js/ajax_functions.js"></script>

</body>
</html>